[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
numpy = "*"
tqdm = "*"
torch = "*"
torchvision = "*"
wandb = "*"
einops = "*"
pybind11 = "*"
scipy = "*"
pywavelets = "*"

[dev-packages]

[requires]
python_version = "3.10"
